<h1>HTML 5 Bootcamp</h1>

<section>
  <h2>Presentation</h2>
</section>

<section>
  <h2>Authors</h2>
  
  <article>
    <h3>Ismael Celis</h3>
    <p>Blurb about Ismael</p>
  </article>
  <article>
    <h3>Laurie Young</h3>
    <p>Blurb about Laurie</p>
  </article>
</section>

<section>
  <h2>Exercises</h2>
  
  <article><h3>Drag and Drop</h3></article>
  <article><h3>Local Storage</h3></article>
  <article><h3>Web Sockets</h3></article>
</section>

<section>
  <h2>References</h2>
  
  <ul>
    <li>Simple python webserver</li>
    <li>Exercise one cheat sheet</li>
    <li>Exercise two cheat sheet</li>
    <li>Exercise three cheat sheet</li>
    <li>Exercise Web Socket Server cheat sheet</li>
  </ul>
</section>

<section>
  <h2>Useful Links</h2>
  <ul>
    
  </ul>
</section>